[submodule "api"]
	path = api
	url = https://github.com/JamesManningR/minimal-express-api
  branch = master

[submodule "client"]
  path = client
  url = https://github.com/JamesManningR/fake-post-api
  branch = master